default:
    suites:
        default:
            contexts:
                - behatch:context:json
                - behatch:context:rest
                - Behat\MinkExtension\Context\MinkContext
                - App\Tests\Behat\JsonContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: features/bootstrap/bootstrap.php
            kernel:
                environment: test
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony: ~
        AdamQuaile\Behat\CommandRunnerExtension:
              beforeFeature:
                  - bin/console --env=test doctrine:schema:drop --force
                  - bin/console --env=test doctrine:schema:create
                  - bin/console --env=test doctrine:migrations:migrate -n