includes:
  - ../vendor/phpstan/phpstan-phpunit/extension.neon
  - ../vendor/phpstan/phpstan-phpunit/rules.neon
  - ../vendor/phpstan/phpstan-symfony/extension.neon
parameters:
  level: max
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  paths:
    - %currentWorkingDirectory%/migrations/
    - %currentWorkingDirectory%/src/
  symfony:
    container_xml_path: ../var/cache/dev/App_KernelDevDebugContainer.xml